{
  "plugins": [
    [
      "babel-plugin-transform-decorators-legacy",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
